body {
    margin: 0
}
main {
    width: 100%
    margin: 25px auto;
}
.logo {
    width: 100px;
    margin: 10px;
    float: left;
}

header {
    width: 100%;
    top: 0;
    background-color: rgb(73, 125, 238);
    height: 120px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(73, 125, 238);
    text-align: left;
    padding: 25px;
    padding-left: 10px;
    font-size: 25px;
}

#links {
    float: right;
    padding: 5px;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    display: flex;
}

.link{
    padding: 25px;
    font-size: 35px;
}

.headertext {
    font-size: 50px;
    padding: 25px;
    padding-left: 200px;
    font-weight: bold;
    display: flex;
}

.odd-row {
    background-color: #000000;
    color: rgb(219, 219, 219);
}

.even-row {
    background-color: rgb(73, 125, 238);
}